#root {
  --primary-color: #141c27;
  --text-color: #e046d7;
  --button-color: #172030;
}

.card {
  margin-top: 100px;
  box-shadow: -5px -2px 0px 0px #272829;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 30px;
  grid-template-columns: 1fr;
  border-radius: 30px;
  background-color: #141c27;
}
.card__title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 20px;
}
.card__timer {
  margin-left: 30px;
  display: grid;
  justify-content: center;
  width: 200px;
  height: 200px;
}
.card__button {
  margin-top: 10px;
  display: grid;
  gap: 4px;
  font-size: 16px;
}