.search {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.input {
  width: 100%;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey);
  font-size: var(--body-2---regular);
  outline: none;
  background-color: transparent;
}