:root {
  font-family: Poppins;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-black);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --Primary: #FF8E3C;


  --color-light-orange: #FFD5B6;
  --color-white: #FFFFFF;
  --color-black: #373737;
  --color-bg: #F5F5FA;
  --color-gray: #848199;
}

#root {
  height: 2300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-bg);
}


body{
  margin: 0;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 28px;
}

button {
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--Primary);
  border-radius: 90px;
  border: 1px solid transparent;
  padding: 10px 32px;
  font-family: inherit;
  background: rgba(255, 142, 60, 0.10);
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
