/* Container Principal */

.plans {
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--color-bg);
}


/* Header */

.plans__header {
    margin-top: 5rem;
    margin-bottom: 40px;
    display: flex;;
    flex-direction: column;
    align-items: start;
}

.plans__header h1 {
  margin: 0 0 1rem 0;
}

 /* Container Cards */

.plans__container--cards {
    max-width: 1170px;
    max-height: 480px;
    margin-top: 3rem;
    border-radius: 26px;
    background-color: var(--color-white);
    display: flex;
    padding: 0 2rem;
}

.plans__price {
  color: var(--color-gray);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.plans__price span {
  color: var(--color-black);
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


/* tipo de Card */

.plans__ticket--popular{
  font-family: Poppins;
  position: absolute;
  top: 5px;
  right: 15px;
  border-radius: 13px;
  color: var(--color-black);
  background-color: var(--color-light-orange);
  font-size: 12px;
  padding-top: 5px;
  width: 115px;
  height: 20px;
  text-align: center;
  font-weight: 600;
}


.plans__card--popular li,
.plans__card--normal li{
  list-style: none;
  padding: 0;
  margin: 6px 0;
  display: flex;
  align-items: center;
}

.plans__item--img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.plans__item--text {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.plans__item--inactivo{
  opacity: 0.4;
}

.plans__card--normal .plans__details {
  color: var(--color-gray);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
} 

.plans__container--items{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
  margin: 0;
}


.plans__Button--popular{
  background-color: var(--color-black);
  color: var(--color-white);
}

.plans__card--normal {
  border-radius: 8px;
  margin: 2.3em .9em 2.3rem .9em;
  width: 240px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plans__card--popular {
  background-color: var(--Primary);
  color: var(--color-black);
  padding: 2.7em 1.6em 2.3em 1.6em;
  border-radius: 26px;
  box-shadow: 0px 42px 34px 0px rgba(82, 67, 194, 0.30); 
  margin: 1.2em;
  top: -60px;
  position: relative;
  width: 239px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plans__card--popular h2 {
  padding-top: 20px;
}

.plans__prices {
    color: var(--color-gray);
    font-size: 13px;
    list-style-type: none;
    padding-left: 0;
}

.plans__card--popular .plans__details--prices, .plans__card--popular .plans__price, .plans__card--popular .plans__prices {
  color: var(--color-black);
}




  /* RESPONSIVE CONTENT */

@media (max-width: 768px) {

    .plans{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
      .plans__container--cards {
        background-color: var(--color-bg);
        width: 100%;
        height: auto;
        display: grid;  
        border-radius: 0;
        justify-content: center;
        align-items: center;
      }
    
      .plans__header {
        max-width: 290px;
        width: 90%;
        text-align: center;
      }
  
      .plans__header {
        font-size: 9px;
        margin-bottom: 0rem;
      }
  
      .plans__header p{
        text-align: start;
        font-size: 16px;
        color: var(--color-gray);
      }
  
      .plans__card--popular{
        top: 0.3rem;
        max-width: 320px;
        margin: 1em;
        height: 340px;
      }

      .plans__container--items li {
        margin: 0;
        padding: 0;
      }
  
      .plans__card--normal{
        max-width: 210px;
        height: 370px;
        margin-top: 3rem;
        padding: 2.5rem;
        border-radius: 26px;
        background-color: var(--color-white);
      }
    }
    
    .plans__card--normal:nth-child(1) { grid-area: card1; }
    .plans__card--normal:nth-child(2) { grid-area: card2; }
    .plans__card--popular:nth-child(3) { grid-area: card3; }
    .plans__card--normal:nth-child(4) { grid-area: card4; }
  
  
    @media (max-width: 768px) {
      .plans__container--cards {
        grid-template-areas: 
          "card3"
          "card1"
          "card2"
          "card4";
      }
    }