body {
  font-family: "Poppins", serif;
  background: var(--Bg, #f5f5fa);
}

.container {
  margin: 128px 135px;
}

.header-container {
  padding-bottom: 80px;
  h1 {
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #373737;
    margin: 0px;
  }
}

.cards-container {
  background: white;
  display: flex;
  border-radius: 26px;
}

.card {
  padding: 29px;
  gap: 16px;
  border-radius: 26px;
  background: white;
  color: #848199;
}

#card--orange {
  background: #ff8e3c;
  box-shadow: 0px 42px 34px 0px rgba(82, 67, 194, 0.3);
  color: #373737;
  position: relative;
  top: -50px;
  span {
    color: #373737;
  }
}

.card--price {
  color: black;
  margin: 0px;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  span {
    color: #848199;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}

.card--title {
  color: black;
  margin: 0px;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card--text-unavailable {
  opacity: 0.2;
}

.card--li-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 12px;
}

.card--tag {
  width: fit-content;
  padding: 5px 18px;
  margin-left: 45%;
  border-radius: 13.5px;
  background: #ffd5b6;
  color: #373737;
}

@media screen and (max-width: 426px) {
  .container {
    margin: 34px 34px;
  }

  .header-container {
    h1 {
      font-size: 28px;
    }
  }

  .cards-container {
    background: none;
    flex-direction: column;
    display: flex;
    gap: 48px;
  }

  #card--orange {
    order: -1;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 40px 34px;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .card {
    flex: 1;
    flex-basis: 30%;
    margin-bottom: 10px;
  }

  #card--orange {
    position: relative;
    top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 100px 34px;
  }
}

.button {
  display: flex;
  width: 100%;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border-radius: 90px;
  border-style: none;
}

.button--card-secondary {
  background: rgba(255, 142, 60, 0.1);
  color: #ff8e3c;
}

.button--card-primary {
  background: var(--Black, #373737);
  color: white;
}
