:root {
  /* Color styles */
  --black: rgba(55, 55, 55, 1);
  --primary: rgba(255, 142, 60, 1);
  --white: rgba(255, 255, 255, 1);
  --grey: rgba(132, 129, 153, 1);
  --red: rgba(250, 81, 58, 1);
  --grey-2: rgba(163, 163, 163, 1);
  --grey-3: rgba(55, 55, 55, 0.2);
  --bg: rgba(245, 245, 250, 1);
  --tag: rgb(255, 213, 184);
  --transparent: transparent;

  /* Text-size styles */
  --headline-1: 56px;
  --headline-2: 28px;
  --headline-3: 20px;
  --button: 14px;
  --body-1---regular: 16px;
  --body-1---bold: 16px;
  --body-2---bold: 14px;
  --body-2---regular: 14px;
  --caption---regular: 12px;
  --caption---bold: 12px;

  /* Effect styles */
  --shadows: 0px 42px 34px rgba(82, 67, 194, 0.3);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.plans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: 10%;
  height: 100vh;
}

.plans__header {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.plans__header__title {
  font-size: var(--headline-1);
  color: var(--black);
  font-weight: bold;
}

.plans__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 40px;
}

.plans__cards__card {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  justify-content: center;
  border-radius: 26px;
  gap: 16px;
}

.plans__cards__card__title {
  font-size: var(--headline-2);
}

.plans__cards__card--highlight {
  box-shadow: var(--shadows);
  background: var(--primary);
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
  background-position: calc(100% + 30px);
  display: flex;
  flex-direction: column;
  max-width: 305px;
  padding: 34px;
  border-radius: 26px;
  gap: 16px;
  margin-top: -50px;
  position: relative;
}

.plans__cards__card--highlight__tag {
  background-color: var(--tag);
  padding: 5px 20px;
  border-radius: 15px;
  font-size: var(--caption---bold);
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 20px;
}

.plans__cards__card__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 20px;
}

.plans__cards__card__title {
  display: flex;
}

.plans__cards__card__price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.plans__cards__card__price__month {
  display: flex;
  align-items: center;
  color: var(--grey);
}

.plans__cards__card__price__month--active {
  display: flex;
  align-items: center;
}

.plans__cards__card__features__item {
  display: flex;
  padding: 10px 0;
  font-size: var(--body-2---regular);
  list-style: none;
  gap: 10px;
}

.plans__cards__card__features__item--disabled {
  opacity: 20%;
  display: flex;
  padding: 10px 0;
  font-size: var(--body-2---regular);
  list-style: none;
  gap: 10px;
}

.plans__cards__card__features__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--grey-3);
  background-image: url("./assets/Path.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: var(--primary);
}

.plans__cards__card__features__checkbox--active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("./assets/PathWhite.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: var(--primary);
}

.plans__cards__card__button {
  background-color: var(--transparent);
  color: var(--primary);
  border: none;
  font-size: var(--button);
  font-weight: bold;
  cursor: pointer;
  padding: 12px 32px;
  border-radius: 90px;
}

.plans__cards__card__button--active {
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: 12px 32px;
  border-radius: 90px;
  font-size: var(--button);
  font-weight: bold;
  cursor: pointer;
}

.plans__cards__card__button:hover {
  background-color: var(--primary);
  color: var(--white);
}

.plans__cards__card__button--active:hover {
  background-color: var(--black);
  color: var(--primary);
}
