:root{
    --main-color:#FFFFFF;
    --primary-color: #373737;
    --second-color:#848199;
    --third-color:#FF8E3C;
    
}
body{
    font-family: "Poppins", serif;
    background-color: #F5F5FA;
    padding: 30px 90px;
    color: var(--primary-color);
}

.title{
    font-size: 50px;
    font-weight: 600;
}
.description{
    margin-top: -20px;
    color: #848199;
    font-size: 18px;
}
.text{  
    display: flex;
    gap: 8px;
    align-items: center;  
}
.title-card{
    margin-bottom: -10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    gap: 8px;
}
.month{
    color: var(--primary-color);
    font-size: 16px;
    opacity: 50%;
    font-weight: 400;
}
.proposal{
    color: #848199;
    font-size: 15px;
}
.proposal__premium{
    color: var(--primary-color);
    font-weight: 300;
}
.not__proposal{
    opacity: 30%;
}
.card{
    justify-content: center;
    color:var(--primary-color);
    margin-top: 100px;
    background-color: var(--main-color);
    border:  black;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
}
.card__price{
    
    width: 260px;
    padding: 20px 40px 40px 40px;
}
.plan{
    font-size: 32px;
    margin: 15px 0 10px 0;
    font-weight: 600;
}
.btn{ 
    margin-top: 30px;
    background-color:  #fcf4ec ;
    color: var(--third-color);
    border: none;
    border-radius: 40px;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 18px;
    height: 50px;
    width: 100%;
}
.btn__color{
    background-color: var(--primary-color);
    color: var(--main-color);
}
.card__price__hover{
    display: flex;
    width: 350px;
}
.card__price__color{
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: -60px;
    box-shadow: -4px 30px 14px 10px rgba(164, 174, 249, 0.4);
    color: #000;
    width: 100%;
    border-radius: 30px;
    padding: 30px;
    background-color: var(--third-color);
}
.popular{
    display: flex;
    margin: -10px -10px -20px 140px;
    border-radius: 30px;
    background-color: #FFD5B6;
    font-weight: 500;
    justify-content: center;
}

q::before {
    content: url("icons/check-black.svg");
}
o::before{
    content: url("icons/check-white.svg");
}
@media (max-width:1250px) {
    .title{
       font-size: 24px;
       text-align: left;
    }
    .description{
        margin-top: -10px;
        margin-bottom: -60px;
        color: #848199;
        font-size: 15px;
    }
    .card{
        background-color:#F5F5FA ;
        margin-top: 100px;
        border-radius: 40px;
        gap: 30px;
        justify-content: center;
    }
    .card__price{
        background-color: var(--main-color);
        width: 230px;
        border-radius: 30px;
        
    }
    .card__price__hover{
        order: -1;
        width: 310px;
        color: var(--primary-color);
    }
    .card__price__color{
        
        margin: 0 ;
        box-shadow: -4px 30px 14px 10px rgba(164, 174, 249, 0.4);
        color: var(--primary-color);
        border-radius: 30px;
        padding: 20px 40px 40px 40px;
        background-color: var(--third-color);
    }
    .proposal{
        color: var(--primary-color);
        font-size: 13px;
    }
    .description-plan{
        color: var(--primary-color);
        font-size: 15px;
    }
    .plan{
        font-size: 28px;
        margin: 12px 0 8px 0;
        font-weight: 600;
    }
    .popular{
        padding: 1px 4px 1px 5px;
        font-size: 13px;
        margin: 0px -10px -20px 140px;
        border-radius: 30px;
        background-color: #FFD5B6;
        font-weight: 600;
        justify-content: center;
    }
    
}

