---
import RepoCard from '@components/sections/main/components/RepoCard.astro';
import type { RepoData } from '@/src/types/repository';
import SearchEngine from '@components/ui/search-engine/search-bar';
import SelectComponent from '@components/ui/select-component/select-component';

const { repoCount, repoData } = Astro.props;
---

<main>
  <h2>Repositories ({repoCount})</h2>
  <article>
    <SearchEngine client:only="react" />
    <SelectComponent
      client:only="react"
      label="Type"
      onChange={() => {}}
      options={[
        { value: 'as', label: 'All' },
        { value: 'ss', label: 'Sources' },
        { value: 'ds', label: 'Forks' },
        { value: 'ds', label: 'Archived' },
        { value: 'ds', label: 'Mirrors' },
      ]}
      value=""
    />
    <SelectComponent
      client:only="react"
      label="Language"
      onChange={() => {}}
      options={[
        { value: 'as', label: 'All' },
        { value: 'ss', label: 'CSS' },
        { value: 'ds', label: 'JavaScript' },
        { value: 'ds', label: 'Java' },
        { value: 'ds', label: 'HTML' },
      ]}
      value=""
    />
    <SelectComponent
      client:only="react"
      label="Sort"
      onChange={() => {}}
      options={[
        { value: 'ss', label: 'Name ↓' },
        { value: 'as', label: 'Name ↑' },
      ]}
      value=""
    />
  </article>
  <section>
    <div class="repo-list">
      {repoData.map((repo: RepoData) => <RepoCard repo={repo} />)}
    </div>
  </section>
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
  }
  h2 {
    margin: 0;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 70vh;
    overflow-y: scroll;
  }

  section::-webkit-scrollbar {
    width: 0.5em;
  }

  section::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 1em;
  }

  article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    gap: 1em;
    padding: 1em 0;
  }
</style>
