---
import RepoCard from '@components/sections/main/components/RepoCard.astro';
import type { RepoData } from '@/src/types/repository';
import SearchEngine from '@/src/components/ui/search-engine/search-bar';

const { repoCount, repoData } = Astro.props;
---

<main>
  <h2>Repositories ({repoCount})</h2>
  <article>
    <SearchEngine client:only="react" />
  </article>
  <section>
    <div class="repo-list">
      {repoData.map((repo: RepoData) => <RepoCard repo={repo} />)}
    </div>
  </section>
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    padding: 2em 0;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 70vh;
    overflow-y: scroll;
  }

  section::-webkit-scrollbar {
    width: 0.5em;
  }

  section::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 1em;
  }
</style>
