.repositories {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

h2 {
  margin: 0;
}

.repoList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 70vh;
  overflow-y: scroll;
}

.repoList::-webkit-scrollbar {
  width: 0.5em;
}

.repoList::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 1em;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  gap: 1em;
  padding: 1em 0;
}

@media screen and (max-width: 768px) {
  .repositories {
    padding: 0;
    gap: 5em;
  }

  .repoTitle {
    display: block;
    display: none;
  }

  .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  .repoList {
    overflow-y: inherit;
  }


}
