---

---

<button>
  <slot />
</button>

<style>
  button {
    background-color: var(--button-bg);
    color: var(--white);
    border: var(--grey) solid 1px;
    border-radius: 8px;
    padding: 7px 25px; 
    font-size: var(--button);
    cursor: pointer;
  }
</style>
